@font-face {
  font-family: 'iconfont'; /* Project id 3320983 */
  src: url('iconfont.woff2?t=1650347451840') format('woff2'), url('iconfont.woff?t=1650347451840') format('woff'),
    url('iconfont.ttf?t=1650347451840') format('truetype'), url('iconfont.svg?t=1650347451840#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-widget_5:before {
  content: '\e603';
}

.icon-gengduo:before {
  content: '\e602';
}

.icon-xitongshezhi:before {
  content: '\e601';
}

.icon-a-darkyejianmoshiheiyemoshishensemoshianheimoshi:before {
  content: '\e600';
}

.icon-rijianmoshixhdpi:before {
  content: '\e623';
}

.icon-hailang:before {
  content: '\e62b';
}

.icon-duoyuyan:before {
  content: '\e6b4';
}
